.metrics-container-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 6rem;
}

.buttons-metrics {
  border-radius: 20px !important;
  padding: 0.2rem 1.5rem !important;
  margin: 0 1rem;
}

.metrics-container {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  padding: 1rem;
  background-color: white;
  border-radius: 20px;
}

/* CSS SideBar */
.sidebar {
  position: fixed;
  width: 17vw;
  height: 100vh;
  /* left: -12vw; */
}

.sidebar-container {
  display: flex;
  flex-direction: column;
}

.sidebar-icons {
  margin-left: 7rem;
}

/* CSS My account */

.myaccount-container {
  display: flex;
  justify-content: center;
  margin-top: 7rem;
}

.card-container {
  margin-right: 2rem;
  width: 15rem;
  border-radius: 15px !important;
  border: none !important;
}

.card-image {
  width: auto;
}

.card-form-container {
  margin-top: 44px;
  width: 30rem;
  padding: 1rem;
  border-radius: 15px !important;
  border: none !important;
  display: flex;
  justify-content: start;
}

.form-label {
  width: 160px;
  margin-top: 10px;
}

.form-label-double {
  width: 160px;
  margin-top: -5px;
}

.form-control {
  height: 48px;
}

.form-button {
  width: 11rem;
  margin-top: 1rem;
}

.back-link {
  position: absolute;
  left: 22vw;
  top: 20px;
  display: flex;
  vertical-align: middle;
  font-size: 18px;
}

.back-link:link {
  text-decoration: none;
}
