/* CSS Metrics */

.metrics-container-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 6rem;
}

.buttons-metrics {
  border-radius: 20px !important;
  padding: 0.2rem 1.5rem !important;
  margin: 0 1rem;
}

.metrics-container {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  padding: 1rem;
  background-color: white;
  border-radius: 20px;
}

.img-button-profile {
  width: 50px;
}

/* CSS SideBar */
.sidebar {
  position: fixed;
  height: 100vh;
  margin-left: -7rem;
}

.sidebar-hide {
  left: -12.6vw;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
}

.sidebar-icons {
  margin-left: 7rem;
}

div ul li {
  list-style: none;
}

div ul {
  padding-left: 0px;
}

.aictive-logo {
  border-radius: 50%;
  width: 45px;
  height: 40px;
  padding: 3px;
}

.logo-container {
  background-color: rgb(0, 0, 153);
  padding: 1rem;
  padding-right: 3rem;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  position: relative;
  top: -43vh;
  left: 18.3vw;
}

.links-sidebar {
  padding-left: 2vw;
  margin-top: 2.21rem;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: solid rgba(128, 128, 128, 0.527) 1px;
}

.link-sidebar-closeSession {
  padding-left: 2vw;
  margin-top: 22rem;
  border-bottom: solid rgba(128, 128, 128, 0.527) 1px;
}

.links-wrapper {
  margin-top: 7.9rem;
  width: 12vw;
}

.icons-sidebar {
  width: 100%;
  margin-top: 2.08rem;
  margin-bottom: 0.2rem;
  padding-bottom: 1rem;
  color: white;
  font-size: 20px;
}

.icons-sidebar-li {
  border-bottom: solid white 1px;
  width: 4.5vw;
  color: white;
}

.icon-sidebar-closeSession {
  width: 100%;
  margin-top: 22.3rem;
}

.icons-wrapper {
  background-image: radial-gradient(
    circle at 50% -20.71%,
    #be5af5 0,
    #a04ff4 16.67%,
    #7944f3 33.33%,
    #3c3cf2 50%,
    #0037f1 66.67%,
    #0034ef 83.33%,
    #0034ee 100%
  );
  margin-bottom: 0px;
  padding-top: 5.64rem;
  height: 100vh;
  width: 5vw;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.links-text {
  text-decoration: none;
  color: gray;
}

.links:visited {
  color: white;
}

/* CSS My account */

.myaccount-container {
  display: flex;
  justify-content: center;
  margin-top: 7rem;
}

.card-container {
  margin-right: 2rem;
  width: 15rem;
  border-radius: 15px !important;
  border: none !important;
}

.card-image {
  width: auto;
}

.card-form-container {
  margin-top: 44px;
  width: 30rem;
  padding: 1rem;
  border-radius: 15px !important;
  border: none !important;
  display: flex;
  justify-content: start;
}

.form-label {
  width: 160px;
  margin-top: 10px;
}

.form-label-double {
  width: 160px;
  margin-top: -5px;
}

.form-control {
  height: 48px;
}

.form-button {
  width: 11rem;
  margin-top: 1rem;
}

.back-link {
  position: absolute;
  left: 22vw;
  top: 20px;
  display: flex;
  vertical-align: middle;
  font-size: 18px;
}

.back-link:link {
  text-decoration: none;
}
